
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

img {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(238, 238, 238);
}

header > .left-side {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 0px 0px 0px 40px;
  font-weight: bold;
}

header > .right-side {
  display: flex;
  gap: 5px;
  padding: 0px 40px 0px 0px;
}

header > .middle-side > .logo {
  width: 200px;
  height: 30px;
  object-fit: cover;
  padding: 5px 0px 5px 0px;
}

header> .right-side {
  display: flex;
  align-items: center;
}
header > .right-side > button {
  height: 30px;
  background-color: #567B95;
  border: 0px;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  padding: 65px 0px 30px 0px;
  border-bottom: 1px solid rgb(238, 238, 238);
  text-align: start;
}
h2 {
  font-weight: bold;
}

.grid-container {
  margin: 0 auto;
  max-width: 1200px;
}

.article-content {
  color: #333333;
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  line-height: 30px;
  padding: 0px 0px 50px 0px;
  grid-template-columns: repeat(3, minmax(auto, 1fr)) repeat(4, minmax(150px, 1fr)) repeat(3, minmax(auto, 1fr));
  display: grid;
  grid-auto-rows: auto;
  row-gap: 20px;
}

.article-content > * {
  grid-column: 4/ 8;
}

.article-content > figure {
  grid-column: 2 / 10;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.article-content > figure > figcaption {
  font-size: 15px;
  line-height: 20px;
  color: #666666
}
.article-content > figure > figcaption > span {
  font-size: 13px;
  line-height: 18px;
  color: #888888
}

.article-content > .telescope-image {
  grid-column: 3 / 9;
  padding: 0px 50px 0px 50px;
}

.article-content > .social-buttons {
  display: flex;
  gap: 20px;
}
.article-content > .social-buttons > .material-icons {
  padding: 5px;
}
.article-content > .social-buttons > .material-icons:nth-child(-n+4) {
  border-radius: 50%;
  background-color: #eee;
}

.nytimes-notes {
  font-size: 15px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0px 15px 0px;
}
.nytimes-notes > span {
  font-size: 13px;
  line-height: 16px;
}

.sign-up-ad {
  font-size: 14px;
  line-height: 18px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding: 20px 5px 10px 5px;
  border-top: 1px solid rgb(238, 238, 238)
}
.sign-up-ad > strong {
  font-weight: bold;
}
.sign-up-ad > button {
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
  font-weight: bold;
  width: 80px;
  height: 30px;
}

.nytimes-notes-subscribe {
  font-size: 15px;
  line-height: 19px;
  font-weight: bold;
  grid-column: 5 / 7;
  justify-self: center;
  text-align: center;
}
.nytimes-notes-subscribe > div {
  padding: 10px;
}
.nytimes-notes-subscribe > hr {
  width: 70px;
  color:rgb(238, 238, 238);
}

.images-grid {
  display: grid;
  grid-column: 2/ 10;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "title title title title"
  "desc desc desc desc"
  "item item item item"
  "item item item item"
  "by by by by";
  row-gap: 10px;
  column-gap: 20px;
}
.images-grid > h2 {
  grid-area: title;
}
.images-grid > p {
  grid-area: desc;
  font-size: 16px;
  line-height: 20px;
  color: #333333;

}
.images-grid > .author {
  grid-area: by;
}

.image-explanation {
  font-size: 15px;
  line-height: 20px;
}
.image-explanation > h3 {
  display: inline;
  font-weight: bold;
}
.image-explanation > p {
  display: inline;
}
.images-grid > .image-explanation > div {
  height: 125px;
  padding: 0px 0px 5px 0px;
  overflow: hidden;
}

.images-grid > * img:nth-child(1) {
  object-fit: cover;
  object-position: 0% 0%;
  background-size: 200px 200px;
  height: 550px;
}

.images-grid > .author {
  font-size: 16px;
}
.images-grid > .author > hr {
  width: 100px;
  margin: 1px 0px 0px 0px;
}

.comments-and-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comments-and-social > button {
  width: 330px;
  height: 40px;
  background-color: #567B95;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  border: 0px;
}
.comments-and-social > span {
  display: flex;
  gap: 10px;
}
.comments-and-social > span > span {
  border-radius: 50%;
  background-color: rgb(233, 233, 233);
  padding: 5px;
}

.external-links {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "content news"
  "content2 news"
  "footer footer";
  column-gap: 30px;
}

.suggested-newsletter {
  grid-column: 1/2;
  display: grid;
  grid-area: content;
  grid-auto-rows: min-content;
  grid-template-areas: 
  "title title button"
  "item item item";
  column-gap: 15px;
  padding: 0px 0px 20px 0px;
  border-top: 1px solid black;
}
.suggested-newsletter > h4 {
  grid-area: title;
  padding: 20px 0px 20px 0px;
  font-weight: bold;
}
.suggested-newsletter > span {
  grid-area: button;
  align-self: center;
  text-align: end;
  color: rgb(141, 141, 141)
}

/*suggested item block*/
.newsletter-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto 1fr auto;
  border: 2px solid rgb(233, 233, 238);
  padding: 10px;
  grid-template-areas: 
  "image     .     icon"
  "timing  timing  timing"
  "title   title   title"
  "content content content"
  "latest  latest  latest";
  grid-auto-rows: min-content;
}
.newsletter-item > p{
  grid-area: content;
  padding: 0px 0px 10px 0px;
}

.newsletter-item > h5 {
  grid-area: title;
  padding: 0px 0px 10px 0px;
  font-weight: bold;
}

.newsletter-item > .newsletter-timing {
  grid-area: timing;
  padding: 10px 0px 3px 0px;
  font-size: 13px;
}

.newsletter-item > img {
  grid-area: image;
}

.newsletter-item > .material-icons {
  grid-area: icon;
  justify-self: end;
  font-size: 32px;
}

.newsletter-item > .newsletter-latest {
  grid-area: latest;
  font-weight: bold;
}
/*suggested item block*/

.more-articles {
  grid-area: content2;
  display: grid;
  column-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "content1 content1 content1"
  "content2 content2 content2";
}
.more-articles > * h4 {
  font-weight: bold;
  padding: 20px 0px 20px 0px;
  border-top: 1px solid black;
  margin: 20px 0px 0px 0px;
}
.more-articles > * .item > figure {
  display: grid;
  grid-template-rows: repeat(4, auto);
}
.more-articles > * .item > figure > figcaption {
  font-size: 13px;
  color:rgb(141, 141, 141);
  text-align: end;
  padding: 4px 0px;
}
.more-articles > * .item > figure > .title {
  font-weight: 600;
}
.more-articles > * .item > figure > .date {
  font-size: 14px;
  padding: 5px 0px;
  color:rgb(141, 141, 141)
}

.space-and-astronomy {
  grid-area: content1;
  column-gap: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  grid-template-areas: 
  "title title title"
  "content content content";
}
.space-and-astronomy > h4 {
  grid-area: title;
}


.editor-picks {
  grid-area: content2;
  display: grid;
  column-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "title title title"
  "content content content";
  grid-auto-rows: min-content;
}
.editor-picks > h4 {
  grid-area: title;

}

.external-links > footer {
  grid-area: footer;
}
.most-popular {
  grid-area: news;
}
.most-popular > h4 {
  font-weight: bold;
  padding: 20px 0px;
  border-top: 1px solid black;
}
.most-popular > .item {
  font-size: 19px;
  line-height: 23px;
  padding: 20px 0px;
  border-top: 1px solid rgb(204, 204, 204);
}

.editors-pick {
  grid-column: 9 / 11;
  grid-row-start: 13;
  grid-row-end: span 10;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: min-content;
  row-gap: 20px;
}
.editors-pick > span:nth-child(1) {
  grid-column: 1 / span 2;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.editors-pick > span:not(:first-child) {
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  text-align: left;
}
.editors-pick > * {
  align-self: center;
}


footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr) auto;
  grid-template-areas: 
  "title title title title title button"
  "col   col   col   col   col   col"
  "copy  copy  copy  copy  copy  copy";
  border-top: 4px double rgb(228, 228, 228);
  grid-gap: 20px 0px;
}
footer > img {
  grid-area: title;
  width: 200px;
  height: 30px;
  object-fit: cover;
  padding: 15px 0px 0px 0px;
}
footer > span {
  grid-area: button;
  align-self: center;
  text-align: end;
  font-size: 13px;
  color: rgb(141, 141, 141)
}

footer > .links-column > h3 {
  font-weight: bold;
  padding: 10px 0px;
}

footer > .links-column > div {
  padding: 5px 0px;
}

footer > .copyright {
  grid-area: copy;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  font-size: 13px;
  padding: 20px 0px;
  border-top: 1px solid rgb(204, 204, 204);
  color:rgb(110, 110, 110);
}

footer > .subscribe {
  border-left: 1px solid rgb(204, 204, 204);
  padding: 0px 20px;
  font-size: 13px;
}
footer > .subscribe > div:nth-child(5) {
  border-bottom: 1px solid rgb(206, 206, 206);
  margin-bottom: 15px;
}

footer > .subscribe > .big-links {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0px;
}
footer > .subscribe > .big-links > * .material-icons {
  font-size: 15px;
  margin-right: 2px;
} 
